{% extends "blog/base.html" %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}
    <article>
        <h1>{{ post.title }}</h1>
        <p class="meta">Published on {{ post.published_date }} by {{ post.author }}</p>
        <hr>
        <div class="post-content">{{ post.content|linebreaks }}</div>
        <hr>
        <a href="{% url 'posts' %}"> < Back to all posts</a>
    </article>
    {% if user == post.author %}
        <a href="{% url 'post-edit' pk=post.pk %}">Edit</a>
        <a href="{% url 'post-delete' pk=post.pk %}"
           onclick="return confirm('Are you sure?')">Delete</a>
    {% endif %}
{% endblock content %}
