{% extends "blog/base.html" %}
{% block title %}
    All Posts
{% endblock title %}
{% block content %}
    <h2>Blog Posts</h2>
    <hr>
    {% for post in posts %}
        <div class="post-item">
            <h3>
                <a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a>
            </h3>
            <p>
                <strong>By:</strong> {{ post.author }} | <strong>Date:</strong> {{ post.published_date }}
            </p>
            <p>{{ post.content|truncatewords:30 }}</p>
            <hr>
        </div>
    {% empty %}
        <p>No posts available yet.</p>
    {% endfor %}
{% endblock content %}
